# Downloaded and processed audio
/audio/
/video/
*.wav
/results/demucs/
*.npy
/data/emotion_reference/

# Notebook outputs and editor state
/notebooks/youtube_audio_clustering.ipynb
/notebooks/fun.ipynb
/results/fun/
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
